<footer id="footer" class="bg-gray-900 px-4 py-2">
    <div class="content-width grid sm:grid-cols-2">
        <p class="flex items-center mb-2 sm:mb-0">
            <a href="//atwood.io" target="_blank">Designed and built by Atwood.io</a>
        </p>
        <div class="flex flex-wrap justify-end sm:text-right">
            <p class="mx-2">Attribution:</p>
            <a class="mx-2 text-sm" href="https://www.vecteezy.com/free-vector/delivery-truck">Delivery Truck</a>
            <a class="mx-2 text-sm" href="https://www.freepik.com/vectors/people">Contract</a>
            <a class="mx-2 text-sm" href="https://www.iconfinder.com/emojious" target="_blank">Icons</a>
            <a class="mx-2 text-sm" href="https://www.freepik.com/vectors/science">Calculator</a>
        </div>
    </div>
</footer>