<footer id="footer" class="bg-gray-900 px-4 py-2">
    <div class="content-width grid sm:grid-cols-2">
        <p class="mb-2 sm:mb-0">
            Designed and built by
            <a href="//atwood.io" target="_blank">Atwood.io</a>
        </p>
        <p class="sm:text-right">
            <a class="mr-4" href="https://www.freepik.com/vectors/people">
                Header by pch.vector
            </a>
            <a href="https://www.iconfinder.com/emojious" target="_blank">
                Icons by iconPerk.com
            </a>
        </p>
    </div>
</footer>