<section class="flex flex-col justify-center">
    <div class="content-width">
        <div class="flex items-end flex-wrap lg:flex-nowrap">
            <div>
                <h2 class="mb-6">About Us</h2>
                <p>
                    Universal Contract Services is a Minority Owned Independent Supplier
                    of goods based in Middle Tennessee seeking to provide Paper Products
                    to Correctional Facilities, and Federal, State, and City Governments
                    as well as Medical Centers. Our #1 priority is to provide courteous,
                    professional services with competitive prices. With over 20 years of
                    combined sales and government procurement experience we are sure our
                    customers have selected the best choice to purchase their goods from
                    Universal Contract Service. Please feel free to Request a Quote, we
                    would love to have your business.
                </p>
            </div>
            <div class="w-full lg:w-1/3 h-48 flex-shrink-0 mt-6 lg:ml-12 bg-gray-300 rounded" />
        </div>
    </div>
</section>