<section id="contact" class="flex flex-col justify-center">
    <div class="content-width">
        <h2 class="text-5xl mb-2">Request a quote</h2>
        <p>
            Or give us a call at <a class="hover:underline" href="tel:(615) 227-1594">(615) 227-1594</a>
        </p>

        <div class="grid gap-8 lg:grid-cols-2 mt-4">
            <div>
                <form class="flex flex-col" action="/api/get-quote" method="POST">
                    <label>Full Name <input type="text" name="name" required /></label>
                    <label>Email <input type="email" name="email" required /></label>
                    <label>Message <textarea name="message" cols="30" rows="10"></textarea></label>
                    
                    <label class="mb-0">New Item</label>
                    <div class="new-item flex flex-row justify-between items-center mb-4">
                        <input class="w-1/2" type="text" list="products-list" placeholder="New item name">
                        <input class="w-1/4" type="number" placeholder="Quantity">
                        <button class="px-4 py-2 border rounded bg-white" type="button">Add Item</button>

                        <datalist id="products-list">
                            {{ $scratch := newScratch }}
                            {{ range .Site.Data.products}}{{ range .products}}
                            {{ $scratch.Add "list" (slice .) }}
                            {{ end }}{{ end }}
                            {{ range sort ($scratch.Get "list") }}
                            <option>{{ . }}</option>
                            {{ end }}
                        </datalist>
                    </div>
                    <table class="items w-full mb-2">
                        <thead>
                            <tr>
                                <th class="w-1/2 pb-2 text-left font-normal">Items</th>
                                <th class="pb-2 text-left font-normal">Quantity</th>
                                <th class="hidden"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="empty">
                                <td colspan="2" class="p-2 border-t">No Items</td>
                            </tr>
                        </tbody>
                    </table>

                    <input type="hidden" name="form-name" value="Contact" />
                    <input class="button" type="submit" value="Submit" />
                </form>
            </div>

            <div class="flex flex-col justify-between">
                <div>
                    <a href="dbe.pdf" target="_blank">
                        {{ $img := resources.Get "img/dbe-seal.png" }}
                        <img class="dbe-seal" src="{{ $img.Permalink }}"
                            alt="We are a certified Minority Owned Business" />
                    </a>
                </div>

                <div class="w-full h-full mt-12">
                    {{ $img := resources.Get "img/estimate.svg" }}
                    <img src="{{ $img.Permalink }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>