<section id="header" class="flex flex-col justify-center p-0 overflow-hidden">
    <div class="content-width flex flex-col items-center pt-28">
        <h1 class="mb-4 text-7xl leading-snug text-center">
            Your #1 Paper Product Provider To Business
        </h1>
        <p class="max-w-3xl text-3xl text-center">Universal Contract Services provides high quality paper products at
            competitive prices</p>
        <a href="#contact" class="button px-6 py-3 mt-4 bg-black rounded-md text-xl text-center">
            Request a quote
        </a>
        {{ $img := resources.Get "img/delivery-truck.svg" }}
        <img class="relative mt-20 mb-20 max-h-80" src="{{ $img.Permalink }}" alt="" />
    </div>
</section>